*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: black;
}
#canvas1{
    border: 2px solid white;
    top:50%;
    position:absolute ;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    height:706px ;
}