*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: black; */
}
body{
    overflow: hidden;
    background: black;
}
/* #canvas{
    position: absolute;
    top:0;
    left:0;

} */
/* #canvas1{
    border: 5px solid white;
    top:50%;
    position:absolute ;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    height:600px ;
} */
