@import url('https://fonts.googleapis.com/css?family=Sacramento'); 

*{
margin: 0;
padding: 0;
box-sizing: border-box;

}
body{
background-color: black;

    font-family: 'Sacramento', cursive;
  
}
.top_surface{
width: 100%;
height: 300px;
position: relative;
top: 0;

}
.bottom_surface{
clip-path: ellipse(63% 68% at 50% 28%);
position: absolute;
width: 100%;
height: 100px;

bottom: -50px;
}
.semi_circle{
width: 300px;
height: 150px;
border-radius: 0 0 150px 150px;
background-color: #f7d658;
position: absolute;
bottom:-150px;
left: 40%;
}
.top_circle{
position: absolute;
width: 100%;
height: 100px;
border-radius: 100%;
top: -48px;
background-color: #f35d22;

}
ul{
position: relative;
width: 300px;
height: 300px;
border-radius: 100%;
margin-top: -200px;
background-color: #9c9c9c49;
list-style: none;
animation: myfirst 5s linear 2s infinite alternate;
}
@keyframes myfirst {
0%{
    background-color: #9c9c9c49;
    width: 300px;
    height: 300px;
    margin-top: -200px;
}
100%{
    background-color: #9c9c9c80;
    width: 350px;
    height: 350px;
    margin-top: -248px;
    margin-left: -30px;
}
}
li{
width: 150px;
height: 150px;
background-color: #9c9c9c49;
list-style: none;
border-radius: 50%;
position: absolute;
}
li:nth-child(1){
bottom: 70px;
left:30px;
}
li:nth-child(2){
bottom: 110px;
left:90px;
}
li:nth-child(3){
bottom: 35px;
left:98px;
}
.outer_flame{
position: absolute;
width: 150px;
height: 140px;
border-radius: 15px 180px 0px 180px;
top: -38px;
left: -2px;
background-color: #fff;
transform: rotate(44deg);
transform-origin: bottom right;
overflow: hidden;
animation: mysecond 5s linear 2s infinite alternate;
}
@keyframes mysecond {
0%{
    transform:rotate(30deg);
    box-shadow: -10px -7px 10px 10px #f7d758cb;
}
100%{
    transform:rotate(60deg);
    box-shadow: 0px -16px 10px 10px #f7d758cb;
}
}
.inner_flame{
width: 120px;
height: 60px;
position: absolute;
right: 49px;
border-radius: 79px 0px 80px 2px;
top: 100px;
background-color: #f7d658;
transform: rotate(66deg);
transform-origin: bottom right;
animation: mythird 5s linear 2s infinite alternate; 
}
@keyframes mythird {
0%{
    background: #ffcc00;
    box-shadow: 0px 10px 10px 3px #f94d08;
}
100%{
    background: #ffdd53;
    box-shadow: 0px 10px 10px 3px #f94d08;
}

}
.title{
font-size:5rem;
color:white;
text-align:center;
text-shadow:0px 2px 1px orange,
  0px 0px 6px orangered,0px 5px 10px rgba(0,0,0,1);
}






.candle {
    width: 15em;
    height: 30em;
    font-size: 7px;
    left: 15%;

    background: linear-gradient(
        orange,
        darkorange,
        sienna,
        saddlebrown 50%,
        rgba(0, 0, 0, 0.6)
    );
    box-shadow: 
        inset 2em -3em 5em rgba(0, 0, 0, 0.4),
        inset -2em 0 5em rgba(0, 0, 0, 0.4);
    border-radius: 10em / 4em;
    position: relative;
    display: flex;
    justify-content: center;

}
.candle2 {
    width: 15em;
    height: 30em;
    font-size: 7px;
    left: 70%;

    background: linear-gradient(
        orange,
        darkorange,
        sienna,
        saddlebrown 50%,
        rgba(0, 0, 0, 0.6)
    );
    box-shadow: 
        inset 2em -3em 5em rgba(0, 0, 0, 0.4),
        inset -2em 0 5em rgba(0, 0, 0, 0.4);
    border-radius: 10em / 4em;
    position: relative;
    display: flex;
    justify-content: center;
    top:-200px;

}


.candle::before {
    content: '';
    position: absolute;
    width: inherit;
    height: 5em;
    border: 0.2em solid darkorange;
    border-radius: 50%;
    box-sizing: border-box;
    background: radial-gradient(
        #444,
        orange,
        saddlebrown,
        sienna,
        darkorange
    );
    filter: opacity(0.7);
}

.thread {
    position: absolute;
    width: 0.6em;
    height: 3.6em;
    top: -1.8em;
    background: linear-gradient(
        #111,
        black,
        orange 90%
    );
    border-radius: 40% 40% 0 0;
}

.flames {
    position: absolute;
    width: 2.4em;
}

.flames::before {
    content: '';
    position: absolute;
    width: inherit;
    height: 6em;
    background-color: royalblue;
    top: -4.8em;
    border-radius: 50% 50% 35% 35%;
    border: 0.2em solid dodgerblue;
    box-sizing: border-box;
    filter: opacity(0.7);
}

.flames::after {
    content: '';
    position: absolute;
    width: inherit;
    height: 12em;
    top: -12em;
    background: linear-gradient(white 80%, transparent);
    border-radius: 50% 50% 20% 20%;
    box-shadow: 0 -0.6em 0.4em darkorange;
    animation: 
        enlarge 5s linear infinite,
        move 6s linear infinite;
}

@keyframes move {
    0%, 100% {
        transform: rotate(2deg);
    }

    50% {
        transform: rotate(-2deg);
    }
}

@keyframes enlarge {
    0%, 100% {
        height: 12em;
        top: -12em;
    }

    50% {
        height: 14em;
        top: -13em;
    }
}

.glow {
    position: absolute;
    width: 10em;
    height: 18em;
    background-color: orangered;
    border-radius: 50%;
    top: -17em;
    filter: blur(6em);
    animation: blink 100ms infinite;
}

@keyframes blink {
    to {
        filter: blur(6em) opacity(0.8);
    }
}
