.white-keys{
    display: flex;
    gap: 5px;
    align-items: stretch;
    background-color: black;
    padding: 1rem;
    height: 100px;
    position: absolute;
    top: 33%;
    padding: 5px;
    border-radius: 5px;
    padding-top: 35px;
    left: 112px;
}

.black-keys{
    position: absolute;
    
    height: 50px;
    top: 38%;
    left: 132px;
    display: flex;
    gap: 10px;
    align-items: stretch;
}


.white{
    background: white;
    width: 20px;
    border-radius: 5px;
    /* height: 30px; */

}
.black{
    background: black;
    width: 15px;
    
    /* border-radius: 5px; */
    /* height: 30px; */

}

.empty{
    background: none ;
}
.black1{
    background: black;
    width: 15px;
    animation: anim 5s infinite;
}

@keyframes anim {
    0%{
        background: none;

    }
    10%{
        background:black;
    }
    20%{
        background:none;
    }
    40%{
        background: none;
    }
    60%{
        background: black;
    }
    80%{
        background: none;
    }
    100%{
        background: black;
    }
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: yellow;
}

*{
    box-sizing: border-box;
    
}

.black2{
    background: black;
    width: 15px;
    animation: anim2 5s infinite;
}

@keyframes anim2 {
    10%{
        background: none;

    }
    20%{
        background:black;
    }
    30%{
        background:none;
    }
    50%{
        background: black;
    }
    60%{
        background: black;
    }
    80%{
        background: none;
    }
    90%{
        background: black;
    }
    100%{
        background: black;
    }
}

.black3{
    background: black;
    width: 15px;
    animation: anim3 5s infinite;
}

@keyframes anim3 {
    0%{
        background: none;

    }
    50%{
        background:black;
    }
    
    100%{
        background: black;
    }
}

.black4{
    background: black;
    width: 15px;
    animation: anim4 5s infinite;
}

@keyframes anim4 {
    0%{
        background: none;

    }
    15%{
        background:black;
    }
    
    30%{
        background:none
    }
    45%{
          background: black;
    }
    60%{
         background: none;
    }
    75%{
        background: black;
    }
    90%{
         background: none;
    }
}