* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    background-color: #b1ea7c;
  }
  .container {
    width: 31.25em;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    margin: 1em auto;
    border: 2px solid black;
    box-shadow: 0 0 0 0.62em #ffffff, 0 1.25em 3.12em rgb(83, 66, 15, 0.5);
    background-color: #ffffff;
    border-radius: 0.5em;
  }
  .dog {
    width: 95%;
    height: 21.87em;
    position: relative;
    margin: 1em auto;
    display: grid;
    place-items: center;
    background-color: #ffedb8;
    overflow: hidden;
  }
  .dog img {
    position: relative;
    height: 18.75em;
    bottom: -1.87em;
  }
  .draggables {
    padding: 1em 0;
    width: 31.25em;
    position: relative;
    background-color: #ffffff;
  }
  .draggables div {
    position: relative;
  }
  [draggable] {
    cursor: move;
  }
  img {
    position: absolute;
  }
  .eyes {
    height: 3.75em;
  }
  .mouths {
    height: 3.12em;
  }
  .glasses {
    height: 5em;
  }
  .hats {
    height: 7em;
  }
  #eye-01,
  #mouth-01 {
    left: 0.93em;
  }
  #hat-01 {
    left: 5em;
  }
  #glass-01 {
    left: 4.37em;
  }
  
  #eye-02,
  #mouth-02 {
    left: 8.43em;
  }
  #hat-02 {
    left: 12.5em;
  }
  #glass-02 {
    left: 18.75em;
  }
  
  #eye-03,
  #mouth-03 {
    left: 15.93em;
  }
  #hat-03 {
    left: 22.5em;
  }
  
  #eye-04,
  #mouth-04 {
    left: 23.43em;
  }